<div class="container mb-5">
  <div class="row justify-content-md-center">
    <div class="col-md-5">
      <h1>User info</h1>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-5">
      <% if @user.errors.any? %>
        <h4>
          <%= @user.errors.count %> error prohibited this obj from being saved:
        </h4>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <%= form_with model: @user do |f| %>
        <p class="mb-1" for="inputName">Name</p>
        <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"Name", class:"form-control w-100 mb-3" %>
        <p class="mb-1" for="inputImage">Image</p>
        <%= f.file_field :profile_image, placeholder: "Image", accept: "image/*", class:"mb-3" %>
        <p class="mb-1" for="inputIntroduction">Introduction</p>
        <%= f.text_area :introduction, autofocus: true, id:"inputIntroduction", class:"form-control w-100 mb-3" %>
        <%= f.submit "Update User", class:"btn btn-secondary" %>
      <% end %>
    </div>
  </div>
</div>