<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-5">
    <h1>Editing Book</h1>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-5">
    <%= form_with model: @book do |f| %>

      <p class="mb-1">Title</p>
      <%= f.text_field :title, class:"form-control w-100 mb-3" %>

      <p class="mb-1">Opinion</p>
      <%= f.text_area :body, class:"form-control w-100 mb-3" %>

      <p><%= f.submit 'Update Book', class:"btn btn-success" %></p>

    <% end %>

    <%= link_to 'Show', book_path(@book.id) %>
    |
    <%= link_to 'Back', books_path %>
    </div>
  </div>
</div>