<h1>Book detail</h1>
<div>
  <p>投稿ユーザー画像：<%= image_tag @book.user.get_profile_image(100,100) %></p>
  <p>本のタイトル：<%= @book.title %></p>
  <p>感想：<%= @book.body %></p>
  <%= link_to user_path(@book.user.id) do %>
    <p>ユーザーネーム：<%= @book.user.name %></p>
  <% end %>
  <% if @book.user == current_user %>
    <%= link_to "編集", edit_book_path(@book.id) %>
    <%= link_to "削除", book_path(@book), method: :delete %>
  <% end %>
</div>